$background: rgb(240,240,240);
$border: #ccc;
$title-blue: #00ace6;
$title-font: 'Open Sans', sans-serif;
$body-font: 'Roboto', sans-serif;

$red-btn: #d9534f;
$red-btn-hover: #c12e2a;
$blue-btn: #0099cd;
$blue-btn-hover: #0086b4;
$green-btn: #5cb85c;
$green-btn-hover: #449d44;

$link: #0077A9;
$link-hover: #005376;

$page-title-size: 24px;
$title-weight: 300;

$base-text: #555;
$header-color: #222;
$header-border: #33ccff;
$selected-color: #e0f8ff;

$hover-color: #e6f9ff;
