.audio-player{
  width: 100%;
  height: 68px;
  position: fixed;
  bottom: 0;
  background: $header-color;
  color: white;
  display: flex;
  align-items: center;
  box-sizing: content-box;
  justify-content: space-between;
  min-width: 400px;
  z-index: 10;
}

.audio-btn:hover{
  color: #ccc;
  text-decoration: none;
}

.audio-btn{
  font-size: 1.75em;
  margin-left: 15px;
}

.audio-display{
  height: 100%;
}

.play-track-thumb{
  height: 75px;
  width: 75px;
}

.display-wrapper{
  margin-top: 7px;
}

.track-dis-info {
  display: inline-block;
  height: 100%;
}

.play-track-thumb{
  display: inline-block;
}

.track-dis-info{
  display: inline-block;
  bottom: 22px;
  margin-left: 20px;
  position: relative;
}

.track-artist{
  display: block;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 6px;
}

.curr-track-title{
  font-size: 14px;
  font-weight: 300;
}

.audio-controls{
  margin-right: 30px;
  margin-top: 3px;
}

.hidden{
  display: none;
}

.progress-bar{
  content: "";
  background: white;
  height: 8px;
  width: 100%;
  margin-top: 4px;
  margin-right: 20px;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0,0,0,.25);
}

.audio-progress{
  background: $header-border;
  height: 100%;
}

.progress-time{
  font-size: 12px;
  position: absolute;
  right: 31px;
  bottom: 51px;
  color: #ccc;
  opacity: 0.0;
}

.audio-player:hover .progress-time{
  opacity: 1.0;
  transition: all 0.25s ease-in-out;

}



.audio-progress-bar{
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 68px;
}
