.header{
  width: 100%;
  justify-content: space-between;
  height: 60px;
  background: white;
  border-bottom: $header-border 3px solid;
  min-width: 860px;
  background: $header-color;
  display: flex;
  align-items: center;
}

.header h3 {
  font-size: 24px;
  font-family: $title-font;
  font-weight: 300;
  padding: 15px 10px;
  display: inline-block;
  color: white;
}

.account-link > a:hover{
  color: #ccc;
  text-decoration: none;
}

.account-link:hover{
  color: #ccc;
  background: #555;
}

.account-link{
  padding: 10px 0;
}
.empty-results{
  padding: 20px;
  font-style: italic;
}

.logo-thumb{
  height: 30px;
  width: 30px;
  float:left;
  margin-top: 15px;
  margin-left: 25px;
}

.header-thumb{
  height: 35px;
  width: 35px;
  border-radius: 4px;
  overflow: hidden;
  margin-left: 15px;
  border: 1px solid rgba(0,0,0,0);
}

.welcome-message{
  margin: auto 0;
  display: flex;
  align-content: center;
  font-size: 14px;
  color: #ddd;
  display: flex;
  align-items: center;
}

.welcome-message:hover{
  color: #bbb;
}

.welcome-area:hover{
  cursor: pointer;
}

.welcome-area:focus .header-thumb{
  border: 1px solid $header-border;
}

.header-drop{
  position: absolute;
  background: #333;
  color: #ccc;
  opacity: .98;
  text-align: center;
  z-index: 15;
  font-size: 14px;
  top: 57px;
  width: 142px;
  right: 24px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header-drop>li{
  display: block;
  padding: 12px 30px;
}

.header-drop>li:last-child{
  border-top: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header-drop>li:hover{
  background: #555;
  cursor: pointer;
}

.header-drop span {
  margin-right: 10px;
}

.thumb-select{
  border: 1px solid $header-border;
}

.logo:hover{
  cursor: pointer;
}

.sign-in-link:hover{
  cursor: pointer;
}

.sign-up-link:hover{
  cursor: pointer;
}
