.loading-cont{
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 60px;
  right: 0;
  left: 201px;
  bottom: 0;
  background: #eee;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}


.spinner {
  width: 100px;
  height: 100px;
  position: relative;
  margin-bottom: 20%;
  -webkit-animation: delay .25s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: delay .25s; /* Firefox < 16 */
   -ms-animation: delay .25s; /* Internet Explorer */
  animation: delay .25s;
}

@keyframes delay {
  0% { opacity: 0; }
  99% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes delay {
    0% { opacity: 0; }
    99% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes delay {
  0% { opacity: 0; }
  99% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes delay {
  0% { opacity: 0; }
  99% { opacity: 0; }
  100% { opacity: 1; }
}


.double-bounce1, .double-bounce2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: $title-blue;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.search-spinner {
  width: 35px;
  height: 35px;
  background-color: $header-border;
  display: block;

  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

.search-loading-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  -webkit-animation: delay .25s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: delay .25s; /* Firefox < 16 */
   -ms-animation: delay .25s; /* Internet Explorer */
  animation: delay .25s;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
