.users-list{
  margin: 0px 30px;
  min-width: 720px;
  padding: 10px 10px;
}

.user-thumb{
  height: 100px;
  width: 100px;
  float: left;
}

.user-idx-item{
  display: inline-block;
  margin: auto 0;
  width: 84%;
}

.user-li{
  padding: 20px;
  border-bottom: 1px solid $border;
  min-width: 680px;
  position: relative;
}

.user-li:last-child{
  border-bottom: none;
}

.user-idx-name{
  color: $title-blue;
  font-family: $title-font;
  font-weight: 300;
  font-size: 20px;
  margin-left: 20px;
}

.user-idx-name:hover{
  color: #0099cd;
  text-decoration: underline;
}

.user-stats{
  display: block;
  font-size: 13px;
  margin-left: 20px;
  color: #999;
}

.user-li:after{
  content: '';
  display: block;
  clear: both;
}

.user-bio{
  margin-top: 15px;
  margin-left: 20px;
  font-size: 14px;
}

.user-idx-header{
  margin-bottom: 10px;
}

.user-li:hover{
  background: $hover-color;
}

.user-follow-link{
  position: absolute;
  right: 15px;
  top: 22px;
  display: inline-block;
  font-size: 13px;
  color: $link;
}

.user-follow-link:hover{
  color: $link-hover;
}

.left-area-profile{
  text-align: center;
}

.playlist-thumb-user{
  height: 80px;
  width: 80px;
  display: inline-block;
}

.user-play-li{
  display: flex;
  align-items: center;
  padding: 15px;
  border-top: 1px solid $border;
  position: relative;
}

.user-play-li:hover{
  background-color: $hover-color;
  cursor: pointer;
}

.user-play-info{
  margin-left: 20px;
}

.user-play-title{
  color: $title-blue;
  size: 16px;
  font: $title-font;
}

.user-track-count{
  position: absolute;
  right: 20px;
  display: inline-block;
  font-size: 14px;
}

.user-playlists {
  margin-top: 10px;
  border-bottom: 1px solid $border;
}

.no-users{
  padding: 20px;
}
