/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import 'base/base.scss';
@import 'components/_components';



.idx-rm-link{
  position: absolute;
  right: 20px;
  color: #0077A9;
  font-size: 13px;
}

.idx-rm-link:hover{
  color: #005376;
  cursor: pointer;
}

.follow-btn{
  background-color:  #5cb85c;
}

.follow-btn:hover{
  background-color: #449d44;
}

.playlist-follow-link {
  font-size: 13px;
  color: #0077A9;
  float: right;
  display: inline-block;
  margin-top: 6px;
}

.playlist-follow-link:hover{
  color: #005376
}
