/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, font, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	outline: 0;
 	font-weight: inherit;
 	font-style: inherit;
 	font-size: 100%;
 	font-family: inherit;
 	vertical-align: baseline;
 }
 /* remember to define focus styles! */
 :focus {
 	outline: 0;
 }
 body {
 	line-height: 1;
 	color: black;
 	background: white;
 }
 ol, ul {
 	list-style: none;
 }
 /* tables still need 'cellspacing="0"' in the markup */
 table {
 	border-collapse: separate;
 	border-spacing: 0;
 }
 caption, th, td {
 	text-align: left;
 	font-weight: normal;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: "";
 }
 blockquote, q {
 	quotes: "" "";
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

.body{
    background: rgb(248,248,248);
}

#root{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.App {
  font-family: 'Roboto', sans-serif;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: rgb(248,248,248);
}


.sidebar {
  width: 200px;
  background: white;
  height: calc(100% - 54px);
  color: #666;
  background: white;
  border-right: 1px solid #ccc;
  float: left;
}

.sidebar-buttons{
  display: flex;
  justify-content: space-between;
}

.sidebar-section{
  margin: 20px 0;
  font-size: 13px;
}

.nav-list {
  margin-top: 30px;
  display: block;
}

.sidebar-section span{
  margin-left: 30px;
  padding-bottom: 5px;
  display: block;
}

.selected {
  background-color: #e0f8ff;
  border-right: #33ccff 3px solid;
  font-weight: bold;
}

.sidebar-section li{
  font-size: 16px;
  padding: 10px;
  padding-left: 50px;
}

.signed-out-marketing{
  padding: 30px 20px;
  font-size: 14px;
  text-align: center;
  background: #eee;
}

.marketing-text-header{
  padding-bottom: 5px;
  display: block;
  font-family: 'Open Sans', sans-serif;
  color: #00ace6;
  font-size: 15px;
  margin-bottom: 15px;
}

.header{
  width: 100%;
  justify-content: space-between;
  height: 55px;
  background: white;
  border-bottom: #33ccff 3px solid;
  background: #222;
  display: flex;
  align-items: center;
}

.header h3 {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 15px 15px;
  margin: 0 20px;
  display: inline-block;
  color: white;
}

.sidebar-section li:hover{
  background-color:  #e6f9ff
}

.sidebar-buttons a{
  padding: 8px 15px;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 20px auto 0 auto;
}

.session-form-div form{
  padding: 15px 20px;
  color: #555;
  font-family: 'Roboto', sans-serif;
}

.form-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  padding: 20px;
  display: block;
  color: #00ace6;
  border-bottom: 1px solid #ccc;
}

.session-form-div label {
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
  margin-top: 15px;
}

.session-form-div input{
  box-sizing: border-box;
  width: 100%;
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
  line-height: 20px;
  padding: 6px 8px;
  font-size: 13px;
}

.session-form-div input:focus{
  border: 1px solid #00ace6;
}

.session-form-div .input-error{
  border: 1px solid red;
}

.other-pop-text {
  margin-top: 20px;
  font-size: 13px;
}

.other-pop-text a {
  color: #0077A9;
  margin-left: 5px;
}

.other-pop-text a:hover {
  color: #005376;
}


.session-button {
  margin-top: 15px;
  background: #00ace6;
  display: block;
  color: white;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 18px;
  border-radius: 5px;
  text-align: center;
}

.session-form-div .error{
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.session-button:hover{
  background: #0099cd;
}


a:hover{
  cursor: pointer;
}

.header .button-bar{
  margin: auto 0;
  margin-right: 35px;
  font-size: 13px;
}

.header a{
  color: white;
  margin-left: 20px;
  font-size: 14px;
}

.header a:hover {
  color: #ccc;
}



.demo-button{
  background-color: #0099cd;
}

.demo-button:hover{
  background-color: #0086b4;
}

.welcome-area{
  margin: auto 0;
  margin-right: 35px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.welcome-message {
  margin: auto 0;
  color: white;
  display: flex;
  align-content: center;
  font-size: 14px;
}

.account-info{
  display: flex;
  margin-top: 30px;
}

.account-info .profile-picture {
  height: 200px;
  width: 200px;
  margin: 0 19px;
  border: solid 1px #ccc;
}

.profile-info{
  border-left: 1px solid #ccc;
}
.content-area{
  height: calc(100% - 54px);
  display: flex;
}

.account-info h3{
  display: block;
  font-size: 24px;
  color: #00ace6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.account-info h4{
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  margin-right: 5px;
  font-weight: bold;
  margin-top: 20px;
}

.account-info h4:first-child{
  margin-top: 0px;
}

.account-info a {
  font-size: 13px;
  color: #0077A9;
}

.account-info a:hover {
  color: #005376;
}

.profile-info{
  width: 560px;
  padding: 0 20px;
}

.group:after{
  content: '';
  clear: both;
  display: block;
}
